<header class="app-header">
  <div class="header-left">
    <a routerLink="/" class="app-logo" (click)="goToHome()">
      <img src="logo-circle.png" alt="Logo" class="logo-image">
      <span>Anime List</span>
    </a>
  </div>

  <div class="header-center"> </div>

  <div class="header-right">
    <button (click)="toggleTheme()" class="action-button secondary theme-toggle-btn">
      <i [class]="currentTheme === 'light' ? 'fas fa-moon' : 'fas fa-sun'"></i>
    </button>

    <button (click)="goToGenres()" class="action-button secondary">
      <i class="fas fa-filter"></i>
      <span>Generi</span>
    </button>

    <div class="search-section">
      <div class="search-bar">
        <input
          type="text"
          [(ngModel)]="query"
          (keyup.enter)="searchAnime()"
          placeholder="Cerca un anime..."
          class="search-input"
          />
        <button (click)="searchAnime()" class="search-btn">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>

    @if (!accessoEffettuato) {
      <button (click)="goToLoginRegister()" class="action-button primary">
        <i class="fas fa-user-circle"></i>
        <span>Login / Registrati</span>
      </button>
    } @else {
      <div class="profile-menu-container" [ngClass]="{'show-dropdown': showDropdown}">
        <div class="profile-pic-area" (click)="toggleDropdown()">
          <img [src]="profileImage" alt="Profile Image" class="profile-pic-thumb">
          <span class="profile-username">{{ username }}</span>
          <i class="fas fa-caret-down dropdown-arrow" [class.rotated]="showDropdown"></i>
        </div>

        <div class="dropdown-menu">
          <a (click)="goToProfile()"><i class="fas fa-user"></i> Il mio Profilo</a>
          <a (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>
      </div>
    }
  </div>
</header>
