<footer class="footer">
  <div class="footer-content">
    <div class="footer-section about">
      <h2>About</h2>
      <p>Benvenuti a My Anime List! Esplora le nostre classifiche con i titoli migliori e scopri cosa guardare dopo. Entra nel mondo degli anime oggi stesso!</p>
    </div>
    <div class="footer-section links">
      <h2>Quick Links</h2>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/watched-anime">Anime Visti</a></li>
        <li><a routerLink="/favorite-anime">Anime Preferiti</a></li>
        <li><a routerLink="/register-login">Login/Register</a></li>
      </ul>
    </div>
    <div class="footer-section contact">
      <h2>Contattaci</h2>
      <p>Email: support&#64;myanimelist.com</p>
      <p>Telefono: +123 456 7890</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 My Anime List. All rights reserved.</p>
  </div>
</footer>
