<div *ngIf="animeDetails" class="anime">
  <!-- Dettagli principali -->
  <div class="main-content">
    <h1 class="anime-title">{{ animeDetails.title }}</h1>
    <div class="anime-details">
      <img [src]="animeDetails.images.jpg.large_image_url" alt="{{ animeDetails.title }}"/>
      <div class="text">
        <p class="synopsis">{{ animeDetails.synopsis }}</p>
        <div class="details-info">
          <p><strong>Episodes:</strong> {{ animeDetails.episodes }}</p>
          <p><strong>Score:</strong> {{ animeDetails.score }}</p>
          <p><strong>Status:</strong> {{ animeDetails.status }}</p>
          <p><strong>Genres:</strong>
            <span *ngFor="let genre of animeDetails.genres; let last = last">
              {{ genre.name }}<span *ngIf="!last">, </span>
            </span>
          </p>
        </div>
      </div>
    </div>
    <br/>
    <div class="visti-section">
      <!-- Selezione "Visto" -->
      <label>Visto? </label>
      <select [value]="visto" (change)="onChangeVisti($event)">
        <option value="">Seleziona una risposta</option>
        <option value="no">No</option>
        <option value="si">Sì</option>
      </select>
    </div>
    <!-- Sezione per scegliere il voto -->
    <div *ngIf="visto === 'si'" class="voto-section">
      <label for="voto">Voto:</label>
      <select id="voto" [(ngModel)]="voto" (change)="setVoto(voto)">
        <option [value]="null">Seleziona un voto</option>
        <option *ngFor="let n of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="n">{{ n }}</option>
      </select>
    </div>

    <!-- Sezione "Preferito" -->
    <div class="preferito-section">
      <label>Preferito?</label>
      <span (click)="togglePreferito()" [class.active]="preferito" class="star-icon">&#9733;</span>
    </div>
  </div>

  <!-- Sezione consigliati -->
  <div class="recommended-section">
    <h2>Recommended Anime</h2>
    <div class="recommended-list">
      <div *ngFor="let anime of displayedRecommendedAnime"
           class="recommended-card"
           (click)="viewAnimeDetails(anime.mal_id)">
        <img [src]="anime.images.jpg.image_url" alt="{{ anime.title }}"/>
        <h4>{{ anime.title }}</h4>
      </div>
    </div>
    <button *ngIf="displayedRecommendedAnime.length < recommendedAnime.length"
            (click)="loadMoreAnime()"
            class="load-more-btn">
      Load More
    </button>
  </div>
</div>
