.anime-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.anime-card {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 1rem;
  width: 200px;
  text-align: center;
  box-shadow: var(--card-shadow);
  transition: transform 0.2s ease, background-color 0.3s ease;
  background-color: var(--card-bg);
}

.anime-card:hover {
  transform: scale(1.05);
  background-color: var(--bg-secondary);
}

.anime-card img {
  width: 150px; /* Uniforma la larghezza */
  height: 200px; /* Uniforma l'altezza */
  object-fit: cover; /* Garantisce immagini equilibrate */
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.anime-card img:hover {
  cursor: pointer;
}
