<div class="view-toggle">
  <button (click)="toggleView()" aria-label="Cambia Visualizzazione">
    <i [class]="isGridView ? 'fas fa-list' : 'fas fa-th'"></i>
  </button>
</div>
<div [class.grid]="isGridView" [class.list]="!isGridView" class="anime-container">
  <div *ngFor="let anime of animeList" class="anime-card" (click)="goToDetails(anime.mal_id)">
    <img
      [src]="anime.images.jpg.image_url"
      alt="{{ anime.title }}"
      class="anime-img"
    />
    <h3>{{ anime.title }}</h3>
  </div>
</div>
