.anime-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  margin: 1rem;
}

.anime-card {
  border-radius: 8px;
  padding: 1rem;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.anime-card img {
  max-width: 100%;
  border-radius: 8px;
}

.anime-card img:hover {
  cursor: pointer;
}

h3:hover {
  cursor: pointer;
}

/* Titolo */
h1 {
  text-align: center;
  font-size: 2rem;
}

/* Barra di Ricerca */
.search-bar {
  display: flex;
  flex: 1;
  gap: 1rem;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0167d4;
}

.he {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}

.dx {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
