<aside class="recommended-section">
    <h2>Anime Consigliati</h2>
    <div class="recommended-list">
    @for (anime of displayedAnime; track anime.mal_id) {
        <div
        class="recommended-card"
        [routerLink]="'/anime/' + anime.mal_id">
        <img [src]="anime.images.jpg.image_url" [alt]="anime.title" />
        <h4>{{ anime.title }}</h4>
        </div>
    }
    </div>
    @if (displayedAnime.length < recommendedAnime.length) {
    <button
        class="load-more-btn"
        (click)="loadMore()">
        Carica Altri
    </button>
    }
</aside>