<div class="intro">
  <div class="intro-content">
    <h1>Anime Visti</h1>
    <p>Qui puoi trovare tutti gli anime che hai visto e il punteggio che hai assegnato.</p>
  </div>
</div>

<button routerLink="/favorite-anime" class="favorite-button">Visualizza Anime Preferiti</button>

<div *ngIf="watchedAnime.length > 0; else noWatchedAnime">
  <div class="anime-container">
    <div *ngFor="let anime of watchedAnime" class="anime-card">
      <img *ngIf="anime.details?.images.jpg.large_image_url" [src]="anime.details.images.jpg.large_image_url" alt="{{ anime.details?.title }}" />
      <h3>{{ anime.details?.title }}</h3>
      <p>Punteggio: {{ anime.score }}</p>
    </div>
  </div>
</div>

<ng-template #noWatchedAnime>
  <h2>Nessun anime visto trovato.</h2>
</ng-template>
