<router-outlet/>
<div class="intro">
  <div class="intro-content">
    <h1>Anime Visti</h1>
    <p>Qui puoi trovare tutti gli anime che hai visto o che stai guardando.</p>
  </div>
</div>

<div class="div">
  <button routerLink="/watched-anime/favourites" class="favorite-button">Visualizza Anime Preferiti</button>
  <button class="favorite-button" (click)="toggleTitleLanguage()">Cambia lingua titolo</button>
</div>

<div class="filter-section">
  <button
    class="filter-button"
    [class.active]="filter === 'all'"
    (click)="setFilter('all')">
    Tutti
  </button>
  <button
    class="filter-button"
    [class.active]="filter === 'completato'"
    (click)="setFilter('completato')">
    Completati
  </button>
  <button
    class="filter-button"
    [class.active]="filter === 'in visione'"
    (click)="setFilter('in visione')">
    In Visione
  </button>
</div>

@if (isLoading) {
  <div>
    <p>Caricamento in corso...</p>
  </div>
}

@if (!isLoading && filteredAnime.length > 0) {
  <div>
    <div class="anime-container">
      @for (anime of filteredAnime; track anime) {
        <div class="anime-card" (click)="goToDetails(anime.details?.data?.mal_id)">
          @if (anime.details?.data?.images?.jpg?.large_image_url) {
            <img
              [src]="anime.details.data.images.jpg.large_image_url"
              alt="{{ anime.details?.data?.title }}"
              class="anime-image"
              />
          }
          <h3>{{ getTitle(anime.details?.data) || 'Titolo non disponibile' }}</h3>
        </div>
      }
    </div>
  </div>
} @else {
  <h2>Nessun anime trovato per questa categoria.</h2>
}

