<div class="dashboard-container">
  <!-- Hero Section -->
  <app-hero-section
    [currentSeason]="getCurrentAnimeSeasonT()"
    (topAnimeClick)="currentView = 'list'">
  </app-hero-section>
  <!-- Top Anime Section -->
  <app-top-anime
    [animeList]="animeList"
    [isLoading]="isLoading"
    (loadMore)="loadMoreAnime()">
  </app-top-anime>
  <!-- Seasonal Section -->
  <app-seasonal-anime
    [seasonalAnimeList]="seasonalAnimeList">
  </app-seasonal-anime>
  <app-random-anime></app-random-anime>
  <!-- Genres Section -->
  <app-genres-home></app-genres-home>

  <!-- Newsletter Section -->
  <app-newsletter></app-newsletter>
</div>
