.nav {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  padding: 1rem;
  gap: 1rem;
  border-bottom: 2px solid #ddd;
}

.nav button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.nav button:hover {
  background-color: #0167d4;
}

.nav input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.anime-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  margin: 1rem;
}

.anime-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.anime-card:hover {
  transform: scale(1.05);
  background-color: #f4f4f4;
  cursor: pointer;
}

.anime-card img {
  width: 150px; /* Uniforma la larghezza */
  height: 200px; /* Uniforma l'altezza */
  object-fit: cover; /* Garantisce immagini equilibrate */
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

h1 {
  margin-left: 4rem;
}

.div {
  background-color: #f4f4f4;
}

.load-more-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin: 1rem auto;
  display: block; /* Centra il bottone */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.load-more-btn:hover {
  background-color: #0167d4;
  transform: scale(1.05);
}
.loading-text {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  margin: 1rem 0;
}
